.button {
  border: none;
  background-color: #6750A4;
  color: white;
  width: 16.6rem;
  height: 4rem;
  border-radius: 10rem;
  &.secondary {
    background-color: #6750a41f;
    width: auto;
    color: #6750A4;
    padding: 0 2.5rem 0 2.5rem;
  }
  &.third {
    width: 100%;
  }
}